@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

$primary-color: #F79824;
$text-color: #31393c;
body{
  background-color: #212121;

  
}

.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
    margin-top: 7rem;
    &.hide{
      filter: blur(5px);
    }
}

a{
    text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #dfac6c, $primary-color, $primary-color);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}
